<%- include ./partials/head.ejs %>
<section>
<h2>Stap een</h2>
<form action="/enquete/stap-twee" method="GET">
	<label for=""> Naam: 
		<input required name="naam" type="text" value="<% if(data[data.length-1]) {%> <%= data[data.length-1].naam %> <%}%>">
	</label>
	<label for=""> Student nummer: 
		<input required name="studentNummer" type="text" value="<% if(data[data.length-1]) {%> <%= data[data.length-1].studentNummer %> <%}%>">
	</label>
		
	<input  type="submit" value="Volgende">
</form>


</section>
<%- include ./partials/footer.ejs %>