<%- include ./partials/head.ejs %>
<section>
<h2>Inloggen met je student nummer</h2>
<p>Log in om het enquete in te vullen. Als je het enquete niet afkrijgt, kun je altijd terug inloggen om het enquete af te krijgen</p>
<form action="/enquete/stap-twee" method="GET">
	<label for=""> Student nummer: 
		<input required="required" name="studentNummer" type="text" value="">
	</label>
	<input  type="submit" value="Inloggen">
</form>


</section>
<%- include ./partials/footer.ejs %>