<%- include ./partials/head.ejs %>
<section>
<h2>Stap twee</h2>
<form action="/enquete/stap-dree" method="GET">
	<label for=""> Docent: 
		<input name="docent" type="text" value="<% if(data[data.length-1]) {%> <%= data[data.length-1].docent %> <%}%>">
	</label>
	<label for="">Vak: 
		<input name="vak" type="text" value="<% if(data[data.length-1]) {%> <%= data[data.length-1].vak %> <%}%>">
	</label>
	<input type="submit" value="Volgende">
</form>
<a href="/enquete">terug</a>
</section>
<%- include ./partials/footer.ejs %>