<%- include ./partials/head.ejs %>
<section>
<h2>Stap Dree</h2>
<form action="/enquete" method="GET">
    <p>Thanx</p>
	<input type="submit" value="Klaar">
</form>
<a href="/enquete/stap-twee">terug</a>
</section>
<%- include ./partials/footer.ejs %>