<%- include ./partials/head.ejs %>
<section>
<h2>Stap Dree</h2>
<form action="/enquete" method="GET">
    <p>Het is gelukt</p>
    <p>Bedankt voor het invullen van het enquete</p>
	<input type="submit" value="Klaar">
</form>
</section>
<%- include ./partials/footer.ejs %>