<%- include ./partials/head.ejs %>
<section>
<h2>Stap Dree</h2>
<form action="/enquete/stap-vier" method="GET">
	<label for=""> beoordeling: 
		<input name="beoordeling" type="text">
	</label>
	<label for="">Vak2: 
		<input name="vak2"  type="text">
	</label>
	<input type="submit" value="Volgende">
</form>
<a href="/enquete/stap-twee">terug</a>
</section>
<%- include ./partials/footer.ejs %>