<%- include ./partials/head.ejs %>
<progress class="progress-stap-dree" class="stappen" value="3" max="3">3/3</progress>
<section>
<h2>Het is gelukt</h2>
<p>Bedankt voor het invullen van het enquete</p>
<form class="form-stap-dree" action="/enquete" method="GET">
	<input type="submit" value="Klaar">
</form>
</section>
<%- include ./partials/footer.ejs %>