<%- include ./partials/head.ejs %>
<section>
<h2>Stap een</h2>
<form action="/enquete/stap-twee" method="GET">
	<label for=""> Student nummer: 
		<input required name="studentNummer" type="text" value="">
	</label>
	<input  type="submit" value="Login">
</form>


</section>
<%- include ./partials/footer.ejs %>