* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    font-size: 28px;
    color: #000000;
    margin: auto 0;
}

header {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2.5em;
}

input[type="submit"] {
    height: 2em;
    font-size: 14px;
    width: 7em;
    background-color: #e9e20c;
    border-radius: 10px;
}

input[type="submit"]:focus {
    background-color: #807b03;
}

input[type="submit"]:hover {
    background-color: #807b03;
}

main {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
}

/* body {
    background: #01cd82 no-repeat;
} */


header img {
    height: 100px;
    width: 100px;
}

section {
    background: #00b2f1 no-repeat;
    position: relative;
    border-radius: 20px;
    max-width: 400px;
    margin: 0 auto;
    padding: 2em;
    -webkit-box-shadow: 0px 0px 42px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 42px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 42px -10px rgba(0, 0, 0, 0.5);
}

@supports (background: linear-gradient(#01cd82, #00b2f1)) {
    /* body {
        background: linear-gradient(#01cd82, #00b2f1) no-repeat;
    } */

    section {
        background: linear-gradient(#00b2f1, #01cd82) no-repeat;
    }
}

section h2 {
    display: block;
    margin: 0 auto;
    font-size: 18px;
}

section p {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}

section form {
    display: block;
    margin: 0 auto;
    margin-top: 1em;

}

.form-stap-een input {
    display: block;
}

.form-stap-een input[type="text"] {
    width: 100%;
    margin-top: 0.5em;
}

.form-stap-een input[type="submit"] {
    margin: 0 auto;
    margin-top: 0.5em;
}

textarea {
    display: block;
    width: 99%;
    margin-top: .5em;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 1em;
}

.form-stap-twee input[type="text"] {
    width: 100%;
    margin-top: .5em;
}

.form-stap-twee input[type="number"] {
    display: block;
    margin-top: .5em;
}


.form-stap-dree input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
}

.opslaan {
    position: absolute;
    bottom: 1em;
    left: 2em;
}

.versturen {
    position: absolute;
    bottom: 1em;
    right: 2em;
}

.q-container {
    display: block;
    margin-bottom: 2em;
}

legend {
    font-weight: bold;
    margin-bottom: 0.5em;
}

@media(max-width:768px) {
    section {
        padding: 1em;
    }

    section h2 {
        margin-top: 1em;
    }

    section form {
        width: 100%;
    }

    header h1 {
        font-size: 24px;
    }

    .opslaan {
        bottom: 1em;
        left: 1em;
    }

    .versturen {
        bottom: 1em;
        right: 1em;
    }
}